body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header,
#footer {
  background-color: #2F4F4F;
  color: #DCDCDC;
  display: flex;
  width: 100%;
}

#header {
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0
}



#main {
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
  max-width: 70%;
  max-height: 50%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  height: 60%;
}

.instruction,
.status {
  font-size: 28px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #2F4F4F;
  color: #DCDCDC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button[type='submit']:hover {
  background-color: #708090;
}

.download {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
}


#footer {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  right: 0;
  bottom: 0;
}


/* for mobile */
@media (max-width: 550px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
  }

  #main {
    max-width: 85%;
    max-height: 40%;
  }
  
  .main-wrapper {
    width: 90%;
    height: 50%;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
}